/* HELPERS */
.card-to-top {
	top: 9% !important;
}

.card {
	width: 40%;
	height: 100%;
	max-height: 82%;
	position: fixed;
	margin-left: 30%;
	margin-right: 30%;
	top: calc(100% + 150px);
	left: 0;
	overflow: hidden;
	visibility: hidden;
}

.card-intro {
	width: 600px;
	height: 400px;
	visibility: visible;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

	.card-top-bar, .container-bottom {
		width: 100%;
		height: 56px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px 3px 0 0;
	}

			.header-button {
				width: 56px;
				height: 56px;
				background-size: 24px;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: transparent;
				border: 0;
				float: left;
			}

			.header-2-buttons {
				width: calc(100% - 116px);
			}

			.header-close {
				background-image: url(../svg/close_24.svg);
			}

			.header-check {
				background-image: url(../svg/check_24.svg);
				float: right;
			}

			.header-title {
				height: 56px;
				width: auto;
				line-height: 56px;
				float: left;
				font-weight: 500;
				padding-left: 16px;
			}

			.color-picker {
				width: 30px;
				height: 30px;
				position: absolute;
				bottom: 0;
				right: 0;
			}

			.color-picker i {
				font-size: 30px;
				color: white;
			}

	.card-container {
		width: 100%;
		height: calc(100% - 56px);
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		top: 56px;
		border-radius: 0 0 3px 3px;

	}

		.card-header {
			width: calc(100% - 40px);
			height: auto;
			float: left;
			position: relative;
			padding: 0 20px 20px 20px;
		}

			.header-bottom-bar {
				width: 100%;
				height: 100%;
				float: left;
				position: relative;
			}

		.card-bottom {
			width: calc(100% - 40px);
			height: auto;
			background-color: white;
			padding: 20px;
			float: left;
		}


.card-seperator {
	position: relative;
	width: 100%;
	height: 1px;
	margin-top: 5px;
}
