/* Intro cards number * 30px */
.indicator-bubbles-container {
	width: 120px;
}

/* Intro cards number * 100% */
.intro-card-overflow {
	width: 400%;
}

/* 100 / number of intro cards - 80px */
.intro-page-container {
	width: calc(25% - 80px);
}

.card-intro {
	width: 1000px;
	height: 500px;
	visibility: visible;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: initial;
}

.screen-dimmer-intro {
	opacity: 0.55;
	z-index: 7 !important;
}

	.left-arrow, .right-arrow {
		float: left;
		width: 100px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.right-arrow {
		left: auto;
		right: 0;
	}

	.left-arrow .arrow-button {
		opacity: 0;
		display: none;
	}

	.arrow-button {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: white;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

		.icon-arrow {
			width: 18px;
			height: 18px;
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url('../svg/arrow_24.svg');
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0.9;
		}

		.icon-arrow-right {
			transform: rotate(180deg);
		}

	.intro-card-container {
		width: calc(100% - 200px);
		height: 100%;
		float: left;
		margin-left: 100px;
	}

		.intro-card-overflow {
			height: 100%;
		}

		.intro-page-container {
			height: calc(100% - 40px);
			float: left;
			padding: 20px 40px;
		}

			.intro-page {
				border-radius: 10px;
				overflow: hidden;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.intro-page-1 {
				opacity: 1;
			}

				.intro-page-1 .page-top {
					background-color: #96A9F8;
				}

					.intro-1-picture {
						background-image: url(../img/intro1.png);
					}

					.intro-2-picture {
						background-image: url(../img/intro2.png);
					}

					.intro-3-picture {
						background-image: url(../img/intro3.png);
					}

					.intro-4-picture {
						background-image: url(../img/intro4.png);
					}

				.intro-page-1 .page-bottom {
					background-color: #5771DF;
				}

				.intro-page-2 .page-top {
					background-color: #A5D1DB;
				}

				.intro-page-2 .page-bottom {
					background-color: #61909B;
				}

				.intro-page-3 .page-top {
					background-color: #90A4AE;
				}

				.intro-page-3 .page-bottom {
					background-color: #647F8D;
				}

				.intro-page-4 .page-top {
					background-color: #455A64;
				}

				.intro-page-4 .page-bottom {
					background-color: #37474F;
				}

				.page-top {
					height: 190px;
					width: 100%;
					padding: 40px 0;
				}

				.page-top div {
					background-size: auto 100%;
					background-position: center center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%
				}

				.page-bottom {
					height: 190px;
					width: 100%;
					position: relative;
				}

					.page-bottom-top, .page-bottom-bottom {
						width: 100%;
						text-align: center;
					}

					.page-bottom-top {
						height: 95px;
						line-height: 95px;
					}

					.page-bottom-bottom {
						padding: 5px 40px 20px 40px;
						width: calc(100% - 80px);
					}

	.page-indicator-container {
		float: left;
		height: 20px;
		width: 100%;
		position: absolute;
		bottom: -20px;
		left: 0;
	}

		.indicator-bubbles-container {
			height: 100%;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

			.indicator-bubble-container {
				width: 30px;
				height: 20px;
				float: left;
				position: relative;
			}

				.indicator-bubble {
					width: 10px;
					height: 10px;
					border-radius: 100%;
					background-color: #C1C1C1;
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}

				.indicator-bubble-active {
					background-color: white !important;
				}

    .login-button-container {
        position: absolute;
        bottom: -70px;
        left: 0;
    }

        .login-button {
            margin: 0 auto;
        }
